
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Moon+Dance&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Moon+Dance&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background:white;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 100%;
   


}
.form-container {
    margin-left: 20px;
    background-color: #fff;
    padding: 120px;
    border-radius: 8px;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    

    
    
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: hsl(0, 40%, 48%);
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: hsl(0, 40%, 48%);
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


.logo h1{
    background: 20%;
    font-family: 'Lobster',cursive;
    color: #180f4a;
    font-size: 34px;
    
}
.logo{
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}
.menu{
    flex:70%;
   /* border:2px solid red;*/
    text-align:right;
    padding: 20px;
    
}
.menu a{
    color: #180f4a;
    text-decoration: none;font-size: 20px;
    padding: 20px;

}

.menu a:hover{
    color: #FF2978;
    border-top: 4px solid #180F4A;


}

#botao{
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5%;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    border: none;
    background: #FF2978;
}


.header{
    padding-top: 100px;
    height: auto;
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.headline{
    
    flex: 40%;
    margin-left: 10%;
    
}
.headline h2{

    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;
    text-align: left;
}
.headline p{
    color: gray;
    text-align: left;
    text-align: justify;
    padding: 13px;
}

.contact-btn{
    display: inline-block;
    border-radius: 5%;
    background: #FF2978;
    padding: 20px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}
.contact-btn:hover{
    background: #180F4A;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    /*border: 2px solid pink;*/
    text-align: center;

}
h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster',cursive;
    font-weight: bold;
    color:#180F4A
}

section{
    display: inline-block;
    margin-top: 80px;
    /*border: 1px solid black;*/
    margin-left: 5%;
    margin-right: 5%;
   /* height: 400px;*/
    text-align: center;
    padding: 5%;
    width: 90%;
}


.esportes{
    
    display: inline-block;
    margin-top: 3%;
    width: 100%;
    
   
}
.card-text{
    width: 300px;
    font-size: small;
}
.card{

    display: inline-block;
 
    width: 30%;
    padding: 10px;
    margin: 1%;
    border: 1px solid #FF2978;
    border-radius: 5%;
    cursor: pointer;
       
}
.texto-oculto {
    display: none;
 }
 
.card:hover{
    background: #FF2978;
    color: white;
    padding: 40px;
    
}
.card:hover img{
    display: none;
}
.card:hover .card-text{
    display: none;
}
.card:hover .texto-oculto{
    display: block;
}
footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,#180F4A,#090422,black);
    text-align: center;
    border-top: 5px solid #FF2978;
}

.logo-rodape{
    color: aliceblue;
    padding: 100px;
}
.faculdade{
    font-family:'Lobster',cursive;
    font-size: 34px;
    color: #FF2978;
}
.whatsapp{
    position: fixed;
   
    bottom: 5px;
    right: 25px;

}

.project {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 15px;
}

